{
  "books": [
    {
      "id": "118dbd8c-5ba0-47a9-a850-33bbb1dbf3b7",
      "title": "The End of F***ing World",
      "author": "Anton Shliakhtin",
      "year": "22.01.1998"
    },
    {
      "id": "118dbd8c-5ba0-47a9-a850-34bbb1dbf3b7",
      "title": "The End of Stupid World",
      "author": "Anton Shliakhtin",
      "year": "22.01.1999"
    }
  ],
  "totalRecords": 2
}
